{include file='public/header'}
<nav class="navbar navbar-default" role="navigation">
    <div class="navbar-header">
       后台管理系统
   </div>
</nav>
<div class="col-sm-3">
    <ul>
        <li>商品管理
            <ul>
                <li><a href="{:url('category/index')}" target="center"> 类目管理</a></li>
                <li><a href="{:url('attr/index')}" target="center"> 规格管理</a></li>
                <li><a href="{:url('agoods/index')}" target="center">商品管理</a> </li>
            </ul>
        </li>
        <!--<li>合同信息管理-->
            <!--<ul>-->
                <!--<li><a href="{:url('contract/create')}" target="center"> 合同的添加</a></li>-->
                <!--<li><a href="{:url('contract/index')}" target="center">合同列表</a> </li>-->
            <!--</ul>-->
        <!--</li>-->
        <!--<li>统计-->
            <!--<ul>-->
                <!--<li><a href="{:url('tj/one')}" target="center">月度之星（前3名）</a></li>-->
                <!--<li><a href="{:url('tj/two')}" target="center">年度报表</a></li>-->
                <!--<li><a href="{:url('tj/three')}" target="center">网银支付统计</a></li>-->
                <!--<li><a href="{:url('tj/four')}" target="center">商品统计</a></li>-->
                <!--<li><a href="{:url('tj/five')}" target="center">信息概览</a></li>-->
            <!--</ul>-->

        <!--</li>-->
    </ul>
</div>
<div class="col-sm-9">
    <iframe src="" width="100%" height="800px" name="center" frameborder="0"></iframe>
</div>
</body>
</html>