{include file='public/header'}

<form action="{:url('tj/two')}" method="get">
<table class="table">
    <tr>
        <td>
           搜索: <select name="y">
            <option value="2019">2019</option>
            <option value="2018">2018</option>
        </select>
            <input type="submit" value="搜索">
        </td>
    </tr>
</table>
</form>
<table class="table">
    <thead>
    <tr>
        <th>月份</th>
        <th>销售额</th>
    </tr>
    </thead>
    <tbody>
    {volist name='list' id='vo'}
    <tr>
        <td>{$vo.m}</td>
        <td>{$vo.price}</td>
    </tr>
    {/volist}
    </tbody>
</table>