{include file='public/header'/}
<form role="form" action="{:url('cate/save')}" method="post">
    <div class="form-group">
        <label for="name">父级ID</label>
        <select name="pid">
            <option value="0">顶级</option>
            {volist name='list' id='vo'}
            <option value="{$vo.id}">{$vo.name}</option>
            {/volist}
        </select>
    </div>
    <div class="form-group">
        <label for="name">分类名称</label>
        <input type="text" class="form-control" name="name">
    </div>
    <input type="submit" class="btn btn-default"></button>
</form>
{include file='public/footer'/}