{include file='public/header'/}
<a href="{:url('cate/create')}">分类添加</a>
<table class="table">
    <thead>
    <tr>
        <th>分类ID</th>
        <th>分类名称</th>
        <th>操作</th>
    </tr>
    </thead>
    <tbody>

    <tr>
        <td>1</td>
        <td>菜单一</td>
        <td></td>
    </tr>
    <tr>
        <td>2</td>
        <td>&nbsp;&nbsp;&nbsp;|_菜单二</td>
        <td></td>
    </tr>
    <tr>
        <td>3</td>
        <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|_菜单三</td>
        <td></td>
    </tr>
    </tbody>
</table>
{include file='public/footer'/}